@model IEnumerable<AD.Models.Player.Player>

@{
    ViewData["Title"] = "PlayerList";
}

<h1 class="mt-5 text-white">PlayerList</h1>

<p>
    <a asp-action="PlayerCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th class="text-white">
                @Html.DisplayNameFor(model => model.playerID)
            </th>

            <th class="text-white">
                @Html.DisplayNameFor(model => model.pemail)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.playename)
            </th class="text-white">
            
            <th class="text-white">
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.bowler_or_batman)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.battingstyle)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.bowlingstyle)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.mtaches)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.witckets)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.runs)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.previous_cup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.playerID)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.pemail)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.playename)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.bowler_or_batman)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.battingstyle)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.bowlingstyle)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.mtaches)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.witckets)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.runs)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.previous_cup)
            </td>
            <td class="text-white">
                @Html.ActionLink("Edit", "PlayerEdit", new { playerID=item.playerID}) |

                @Html.ActionLink("Details", "Details", new { playerID=item.playerID }) |


                @Html.ActionLink("Delete", "PlayerDelete", new { player=item.playerID })
            </td>
        </tr>
}
    </tbody>
</table>
