@model IEnumerable<AD.Models.Admin.Trophy>

@{
    ViewData["Title"] = "CreateNewTrophyV1";
}

<h1 class="mt-5 text-white">Trophies</h1>

<p>
    @*<a asp-action="CreateNewTrophy">Create New</a>*@
    <form action="CreateNewTrophy" method="post">
        <input type="submit" value="Create Trophy" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Teams)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td class="text-white">@*  *@
                @Html.DisplayFor(modelItem => item.Teams)
            </td>
            <td class="text-white">
                <form action="DeleteT" method="post">
                    <input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.ID)" id="form2Example1" class="form-control" />
                    <button>
                        Delete
                    </button>
                </form>
                @*@Html.ActionLink("Edit", "EditTrophy", new { id = item.ID }) |
                @@Html.ActionLink("Details", "Details", new {  id=item.PrimaryKey  }) |
                @Html.ActionLink("Delete", "DeleteTrophy", new { })*@
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Dashboard">Back</a>
</div>